.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

#bowlButtonId {
    height: 100px;
    width: 100px;
}

.bowlButton {
    height: 100px;
    width: 100px;
}