.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

#bowlButtonId {
    height: 100px;
    width: 100px;
}

.bowlButton {
    height: 100px;
    width: 100px;
}

#scores-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#scores-table td, #scores-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#scores-table tr:nth-child(even){background-color: #f2f2f2;}

#scores-table tr:hover {background-color: #ddd;}

#scores-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}